.loader-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: #fe7657; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.dogs-wrapper {
  width: 90vw;
  max-width: 800px;
  height: 300px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: relative;
}

.dog {
  width: 250px;
  opacity: 0;
  position: absolute;
  bottom: 20px;
  transition: opacity 0.3s;
  animation: correrDog 1s infinite;
}

.dog-left {
  left: 0;
  animation-delay: 0s;
}
.dog-center {
  left: calc(50% - 45px);
  animation-delay: 0.35s;
}
.dog-right {
  right: 0;
  animation-delay: 0.7s;
}

@keyframes correrDog {
  0% {
    opacity: 0;
    transform: translateY(16px) scale(0.9);
  }
  10% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  90% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-16px) scale(0.92);
  }
}
